footer{
    padding: 0 40px;
    border-top: 1px solid black;
    .foot-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 180px;
        .logo{
            font-weight: 300;
            font-size: 2rem;
        }
        .links-cont{
            width: 160px;
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            font-weight: 400;
        }
        .subs-cont{
            display: flex;
            flex-direction: column;
            font-weight: 400;
              .email-box{
                border: solid 1px black;
                margin: 8px 0;
                height: 32px;
                width: 320px;
                display: flex;
              }
              input{
                padding: 0 6px;
                height: 100%;
                width: 100%;
                outline: none;
                border: none;
              }
              button{
                background-color: black;
                color: white;
                border: none;
                padding: 0px 12px;
                cursor: pointer;
              }
            }
        }
        .rights{
            display: flex;
            gap: 12px;
            padding: 8px 0;
            color: #818181;
            font-size: small;
        }
}
