@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner{
  height: 440px;
  position: relative;
  overflow: hidden;
  .img-box{
    position: relative;
  }
  .banner-img{
    position: absolute;
    top: -320px;
    width: 100%;

  }
  .slogan{
    background-color: rgba(0, 0, 0, 0.308);
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    font-size: 3rem;
    display: flex;
    align-items: center;
    h3{
      margin: 0px 80px;
      width: 600px;
      font-weight: 350;
    }
  }
}
.feat-sect{
  padding: 20px 30px 0px 30px;
  margin: 30px 40px;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 8px;
  .list-feat{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0;
  }
}
.list-sect{
  padding: 20px 0px 0px 30px;
  margin: 30px 40px;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 8px;
}
.list-feat{
  display: flex;
  width: max-content;
  margin: 12px 0;
  gap: 12px;
}
.feat-box{
  color: black;
  background-color: white;
  border-radius: 8px;
  width: fit-content;
  width: 280px;
  height: 420px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
  .feat-box:hover{
    .in-img{
      transform: scale(1.1);
      }
  }
  .feat-img{
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
  }
  .in-img{
  transition: transform 300ms;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
}
.desc-box{
  width: 100%;
  height: 64px;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 4px 0px;
}
.feat-title{
  font-size: 0.9rem;
  margin: 6px 0;
  font-weight: 450;
}
.news-box{
  background-color: #FFC0CB;
  margin: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 220px;
  border-radius: 8px;
  font-weight: 300;
  gap: 2px;
  color: #99616c;
  .title{
    font-size: 2.5rem;
  }
  .sub-title{
    font-size: 1.4rem;
  }
  .email-box{
    border: #99616c solid 1px;
    margin: 12px 0;
    height: 36px;
    width: 340px;
    display: flex;
  }
  input{
    padding: 0 8px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
  }
  button{
    background-color: white;
    border: none;
    padding: 0px 12px;
    cursor: pointer;
  }
}
.filters-cont{
  margin: 20px 40px;
  display: flex;
  gap: 20px;
  font-size: 0.8rem;
  color: black;
}
.active{
  list-style: none;
  background-color: #FFC0CB;
  padding: 8px 24px;
  border-radius: 20px;
  cursor: pointer;
}
.filter{
  list-style: none;
  background-color: white;
  padding: 8px 24px;
  border-radius: 20px;
  cursor: pointer;
}
.shop-list{
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  padding: 0 40px 20px 40px;
}

.visit-cont{
  background-color: #FFC0CB;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
  .visit-img{
    width: 45%;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .text-cont{
    background-color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    font-size: 1.5rem;
    font-weight: 350;
    line-height: 28px;
  }
}

.contact-cont{
  margin: 40px 0px;
  background-color: white;
  .contact-img{
    width: 100%;
    height: 420px;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
}