.prod-sect{
    margin: 40px 40px;
    .prod-cont{
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        .buy-cont{
            display: flex;
            justify-content: center;
            min-width: 300px;
            max-width: 320px;
            flex-direction: column;
            margin: 8px 0;
            gap: 12px;
            .buy-titles{
                display: flex;
                align-items: center;
                gap: 4px;
                .stock{
                    font-size: small;
                }
            }
            .quant-cont{
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                color: #818181;
                button{
                    background-color: white;
                    width: 28px;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 4px;
                    border: #818181 solid 1px;
                }
                input{
                    text-align: center;
                    height: 100%;
                    padding: 0 8px;
                    outline: none;
                }
            }
            .buttons-cont{
                display: flex;
                flex-direction: column;
                gap: 12px;
                .add-btn{
                    background-color: #FFC0CB;                    
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    justify-content: center;
                    
                    border: none;
                }
                button{
                    border-radius: 4px;
                    background-color: white;
                    padding: 12px 20px;
                    cursor: pointer;
                    border: #818181 solid 1px;
                }
            }
        }
    }
    .imgs-cont{
        display: flex;
        gap: 8px;
        img{
            width: 100%;
            height: 100%;
        }
        .prod-img{
            width: 80px;
        }
        .main-img{
            width: 340px;
        }
    }
    .prod-info{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 40px;
        .top-cont{
            display: flex;
            gap: 4px;
            flex-direction: column;
            color: #818181;
            .p-name{
                font-size: 1.8rem;
                margin: 8px 0px;
                color: black;
            }
        }
        .p-prize{
            font-size: 2rem;
            font-weight: 350;
            margin: 8px 0;
        }
    }
}
